footer {
    background: #0B0B0B;
    padding-top: 50px;
}

.wrapper {
    max-width: 1187px;
    margin: 0 auto;
    text-align: -webkit-center;

    button {
        .button-yellow();
    }
}

input {
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 15px;
    display: block;
    line-height: @line-height;
    width: 638px;
    border: none;
    border-bottom:2px solid gray;
    background: #0B0B0B;

    &::-webkit-input-placeholder {
        text-align: center;
        text-transform: uppercase;
    }

    &.message {
        margin-bottom: 67px;
        width: 920px;
    }
}






